.card {
    font-size: 24px;
    font-weight: 400;
    color: #ccd7e9;
    background-color: #111921;
    padding: 15px 35px;
    border-radius: 15px;
    margin: 3px 0;
} 
.mt-10 {
    margin-top: 70px;
}
.card > div {
    text-align: center;
    margin-bottom: 10px;    
}
.card-panel {
    font-size: 24px;
    font-weight: 400;
    color: #d5d5d5;
    background-color: #111921;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 3px 0 3px 3px;
    cursor: pointer;
}
.card-panel-muted {
    font-size: 24px;
    font-weight: 400;
    color: #d5d5d5;
    background-color: #111921;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 3px 0 3px 3px;
}
.card-panel:hover {
    background-color: #31475e;
    transition-duration: 200ms;
    color: rgb(189, 189, 189);
}
.bg-active-green {
    background-color: #007dff;
}

.w-49 {
    width: 49.6%;
}
.content-position {
    padding: 30px 0px 60px 0px;
}

/* Menu class */
.menu-class {
    background-color: #202f3e;
    border: 1px solid #50545a;
}
.menu-class > div {
    color: #b9c2d0;
    padding: 4px;
    font-size: 18px;
}
.text-italic {
    font-style: italic;
    font-size: 15px;
}
.control-class {
    background-color: #111921;
    padding: 5px 25px;
    border: 1px solid #50545a;
    border-radius: 5px;
    width: 300px;
}
.control-class-wallet {
    background-color: #111921;
    padding: 5px 25px;
    border: 1px solid #50545a;
    border-radius: 5px;
    width: 100%;
}
.base-class-wallet {
    width: 100%;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
}
.base-class-wallet-mobile {
    width: 80%;
    /* overflow-x: scroll;
    overflow-y: hidden; */
}
.placeholder-class {
    color: #ccd7e9;
    font-size: 20px;
}

.main-input {
    background-color: #111921;
    color: #ccd7e9;
    border: 1px solid #50545a;
    border-radius: 5px;
}
.main-input::placeholder {
    color: #b9c2d0;
    opacity: 1; /* Firefox */
    font-size: 18px;
  }
